*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
base/__pycache__/**
RentAround/__pycache__/**
# base/__pycache__/**
# RentAround/__pycache__/
# base/migrations/
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
__pycache__/**/.pyc
__pycache__/
