{% load static %}
<header>
    <section data-bs-version="5.1" class="menu menu1 cid-t2vf2gxJZO" once="menu" id="menu1-q">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                            <img src="{% static 'assets/images/mbr-103x95.png' %}" alt="Rent Around"
                                style="height: 3.7rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Rent
                            Around</a></span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="/">
                                About us</a></li>
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="/">
                                Services</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link link text-black display-4" href="/userprofile"><span
                                    class="mobi-mbri mobi-mbri-user-2 mbr-iconfont mbr-iconfont-btn"
                                    style="font-size: 25px; color: rgb(110, 199, 242);"></span>Profile</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/logout">Logout</a></div>
                </div>
                {% else %}
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/login">Login</a>
                </div>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/register_user">Sign
                    Up</a></div>
            </div>
            </div>

            {% endif%}

            </div>
        </nav>
    </section>
</header>